.help-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	font-family: 'Cabin', sans-serif;
	font-weight: 200;
	line-height: 1.65;
	font-size: 12px;			
	opacity: 1;
	background: white !important;
	overscroll-behavior-y: contain;			
}

.help-container p {
	font-family: Arial, Helvetica, sans-serif;
}

.help-container a {
	outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.help-container a:link {
  color: blue;
}

.help-container a:visited {
  color: blue;
}

.help-container a:hover {
  border-bottom: 1px solid;
}

.help-container h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
	margin: 2.75rem 0 1.05rem;
	font-weight: 200;
	line-height: 1.15;
	padding-top: 0.5em;
}

.help-container h1 {font-size: 2.0em; 	}

.help-container h2 {font-size: 1.6em;}

.help-container h3 {font-size: 1.25em;}

.help-container h4 {font-size: 1.0em;}

.is-active {
	font-weight: 700;
	color: #bb2205 !important;
}
